


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    background-color: lightblue;
    padding: min(2vh,2vw);
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
}



.sidebar-heading {
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    align-self: start;
}

.sidebar-heading > img {
    width: min(8vh,10vw);
    margin-right: min(1vh,1vw);
}

.sidebar-heading > h1 {
    font-size: min(3.5vh,5vw);
}

.menu {
    display: flex;
    flex-direction: column;
    padding: min(2vh, 2vw);
    gap: min(2vh, 2vw);
}

.menu-container {
    display: flex;
    align-items: center;
    gap: 1vh;
}

.menu-icon {
    width: min(4vh,4vw);
}

.menu-link {
    font-size: min(2.2vh,4vw);
}


.header {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    background-color: greenyellow;
}

.board-body {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.quests {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    background-color: aquamarine;
}

.announcements {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    background-color: chocolate;
}

.guild {
    background-color: cornflowerblue;
}