:root {
    --light-grey: rgb(228, 228, 228);
    --text-colour: rgb(94, 94, 94);
    --shadow-colour: rgba(0, 0, 0, 0.15);
    --spine-colour: rgb(149, 69, 53);
    --card-shadow: 5px 5px 0 var(--shadow-colour);
    --card-spine: 1.5vh solid var(--spine-colour);
    --bronze: rgb(205, 127, 50);
}

@font-face {
    font-family: 'alagardmedium';
    src: url('assets/fonts/alagard-webfont.woff2') format('woff2'),
         url('assets/fonts/alagard-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    font-family: 'alagardmedium', sans-serif;
    
}

.sidebar {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    background-color: var(--bronze);
    padding: min(2vh,2vw);
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    
}



.sidebar-heading {
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    align-self: start;
}

.sidebar-heading > img {
    width: min(8vh,10vw);
    margin-right: min(1vh,1vw);
}

.sidebar-heading > h1 {
    font-size: min(3.5vh,5vw);
}

.menu-top {
    display: flex;
    flex-direction: column;
    padding: min(2vh, 2vw);
    gap: min(2vh, 2vw);
}

.menu-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: min(2vh, 2vw);
    gap: min(2vh, 2vw);
}

.menu-container {
    display: flex;
    align-items: center;
    gap: 1vh;
}

.menu-icon {
    width: min(4vh,4vw);
}

.menu-link {
    font-size: min(2.2vh,4vw);
}


.header {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    gap: 2vh; 
    z-index: 1;
    
}

.head-upper {
    display: flex;
    gap: 2vh;
}

.search-container {
    flex: 1;
    display: flex;
    padding: 2vh;
    gap: 1vh;
    align-items: center;

}

.searchbar {
    height: 4vh;
    flex: 1;
    min-width: 1vh;
    max-width: 50vh;
    font-size: 1vh;
    padding-left: 2vh;
    border-radius: 25vh;
    border: none;
    background-color: var(--light-grey);
}


.head-icon {
    width: min(3vh, 3vw);
}

.profile-icons {
    
    padding: min(2vh, 2vw);
    gap: min(2vh, 2vw);
    align-items: center;
    justify-content: flex-end;
    display: flex;
    flex: 1;
}

.profile-icon-mini {
    width: min(4vh, 4vw);
    border-radius: 3vh;
    background-color: aquamarine;
}

.profile-name-mini {
    font-size: min(2vh, 2vw);
    font-weight: bold;
    align-self: center;
}

.head-lower {
    display: flex;
    padding: 2vh;
}

.greeting-container {
    display: flex;
    align-items: center;
    gap: min(2vh, 2vw);
}

.profile-icon-normal {
    width: min(8vh, 10vw);
    border-radius: 5vh;
    background-color: aquamarine;
}

.greeting-text-container {
    display: flex;
    flex-direction: column;
    gap: min(1vh, 1vw);
    font-weight: bold;
    padding-left: 2vh;
}

.greet {
    font-size: min(1.6vh, 3vw);
    padding: 0;
    margin: 0;
}

.profile-name-normal {
    font-size: min(2.5vh, 3vw);
    padding: 0;
    margin: 0;
}

.buttons-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    gap: min(2vh, 2vw)
}

.header-button {
    font-size: min(2vh, 3vw);
    padding: min(1vh,2vw) min(2vh,3vw);
    background-color: var(--light-grey);
    border-radius: 5vh;
    width: 15vh;
    border-style: none;
    background-color: var(--bronze);
}


main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: var(--light-grey);
}

.quests {
    grid-column: 1 / 1;
    padding: 2vh;
}

.quests-container {
    padding: 2vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 2vh;
    row-gap: 2vh;
    
}

.quest {
    display: flex;
    flex-direction: column;
    border-left: var(--card-spine);
    box-shadow: var(--card-shadow);
    background-color: white;
    border-radius: 1.5vh;
    gap: min(1vh, 1vw);
    padding: 2vh;
    height: 40vh;
    overflow: auto;
}

.quest-header {
    font-weight: bold;
    font-size: 1.5vh;
}

.quest-text {
    font-size: 1.25vh;
    color: var(--text-colour);
}

.rewards {
    font-size: 1.5vh;
    color: var(--text-colour);
}

.rewards ul {
    padding-left: 1vh;
}

.quest-icons {
    margin-top: auto;
    display: flex;
    align-self: flex-end;
    gap: min(2vh, 2vw);
}

.quest-icon {
    width: 2vh;
}

.other {
    grid-column: 2 / 2;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    row-gap: 1vh;
}

.main-header-text {
    font-weight: bold;
    font-size: 2.2vh;
}

.announcements-container{
    display: grid;
    background-color: white;
    grid-template-rows: repeat(3, 1fr);
    padding: 2vh;
    border-radius: 1.5vh;
    justify-content: center;
    box-shadow: var(--card-shadow);

}

.announcements-container .announcement:first-child {
    border: none;
}

.announcement {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1vh;
    border-top: 1px solid black;
}

.announcement-header {
    font-size: 1.5vh;
    font-weight: bold;
    flex: 1;
}

.announcement-text {
    font-size: 1.25vh;
    color: var(--text-colour);
    flex: 1;
}

.guild-container {
    display: grid;
    background-color: white;
    grid-template-rows: repeat(4, 1fr) 0.25fr;
    padding: 2vh;
    border-radius: 1.5vh;
    justify-content: center;
    gap: 2vh;
    box-shadow: var(--card-shadow);
}

.member-container {
    display: flex;
    flex: 1;
    gap: 2vh;
    justify-content: flex-start;
}
.member-icon {
    width: min(6vh, 10vw);
    background-color: aquamarine;
    border-radius: 5vh;
}

.member-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.member-tag {
    font-size: 1.8vh;
    font-family: sans-serif;
}

.member-name {
    font-size: 1.8vh;
    color: var(--text-colour);
}

.link-container {
    display: flex;
    justify-content: flex-start;
}

.link-container a:link {
    color: var(--text-colour);
    font-size: 1.5vh;
}

.link-container a:visited {
    color: rgb(69, 69, 69);
}